//---Fonts---//
$primaryFont: 'Roboto', sans-serif;
$secondaryFont:'Open Sans', sans-serif;

//---Colors---//
$primaryColor: #4c4c4e;
$secondaryColor: #00adef;
$codeBackgroundColor: #e2e2e2;
$jumbotronBGColor: #f4f5f6;

//---Tag Colors---//
$tagColor: #f92672;
$classColor: #6ac62e;
$valueColor: #e58900;

//----------------------------ALERTS----------------------------//

//---Success Alert---//
$successAlertBGColor: #dff0d8;
$successAlertBorderColor: #d6e9c6;
$successAlertFontColor: #3c763d;

//---Error Alert---//
$errorAlertBGColor: #f2dede;
$errorAlertBorderColor: #ebccd1;
$errorAlertFontColor: #a94442;

//---Warning Alert---//
$warningAlertBGColor: #fcf8e3;
$warningAlertBorderColor: #faebcc;
$warningAlertFontColor: #8a6d3b;

//---Notice Alert---//
$noticeAlertBGColor: #d9edf7;
$noticeAlertBorderColor: #bce8f1;
$noticeAlertFontColor: #31708f;

//----------------------------BUTTONS----------------------------//
//---Primary Button---//
$primaryButtonBGColor: #0078e7;
$primaryButtonHoverBGColor: #0070d9;

//---Secondary Button---//
$secondaryButtonBGColor: #42b8dd;
$secondaryButtonHoverBGColor: #3ca7c9;

//---Success Button---//
$successButtonBGColor: #1cb841;
$successButtonHoverBGColor: #19a83b;

//---Warning Button---//
$warningButtonBGColor: #df7514;
$warningButtonHoverBGColor: #cc6b12;

//---Error Button---//
$errorButtonBGColor: #ca3c3c;
$errorButtonHoverBGColor: #b93737;